
body {
    background-color: rgb(220, 220, 220);
    
    //padding-top: 50px;
    
}

#tresc{

    position: fixed;
    overflow: auto;
    bottom: 0;
    top: calc(10%);;
    right:0 ;
    left: 0;

    
    padding-left: 20px;
    padding-right: 20px;
}

#menu{
    position: fixed;
    background-color: azure;
    border-style: ridge;
    width: calc(100%);
    padding: calc(1%);
    padding-left: 30px;
    
    span.el_menu{
        border-style: solid;
        border-width: 1px;
    }
    :hover{
        background-color:antiquewhite;
    }
    :link{
        color:brown;
    }
    :visited{
        color:maroon;
    }
}